


/* NAVBAR */

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: rgb(162, 15, 38);
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(209, 208, 209);
}

.titulonavbar {
  font-weight: 650;
  color: rgb(116, 19, 32);
  margin-top: 38px;
  
}

.nav-link {
  font-weight: 495;
  color: rgb(20, 20, 20);
}

.nav-link:hover {
  font-weight: 495;
  color: rgb(162, 15, 38);
}

.logo {
  width: 180px;
  padding-bottom: 8px;
  padding-top: 12px;
}

.custom-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-image: url('/assets/img/fondonavbar.png');
  background-size: 100% 100%;
  transition: .5s;
}

.navtop {
  top: -100px;

}

.botonresponsivo {
  margin-top: 10px;
  color: rgb(116, 19, 32);
  font-size: smaller;
  max-width: 60px;
  max-height: 60px;
}

@media (max-width: 1200px) {
  .titulonavbar {
    color: red;
    display: none!important;
  }
}


/* FIN NAVBAR */


/* HEADER */

.bg-cover {
  background-size: cover !important;
}

.cotizarboton {
  background:none;
  font-weight: 550;
  text-decoration: none;
  border: 2px solid rgb(197, 26, 49);
  border-radius: 5000px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  overflow: hidden;
  padding:10px 45px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
  }

.cotizarboton:hover,
.cotizarboton:focus {
  background: rgb(197, 26, 49);
  color: #fff;
  border: 2px solid rgb(197, 26, 49);
}

.imagenheader {
  min-height: 285px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  position: relative;
  z-index: 1;
  
}

.imagenheader::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Negro con una opacidad del 50% */
  z-index: -1;
}

    .textoheader {
      position: relative;
      z-index: 1;
    }

    


    /* VIDEO */
    header {
      position: relative;
      background-color: black;
      height: 75vh;
      min-height: 25rem;
      width: 100%;
      overflow: hidden;
    }
    
    header video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    
    header .container {
      position: relative;
      z-index: 2;
    }
    
    header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.5;
      z-index: 1;
    }

    
    /* Media Query for devices withi coarse pointers and no hover functionality */
    
    /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
    
    @media (pointer: coarse) and (hover: none) {
      header {
        background: url('/assets/img/cortadora2.jpg') black no-repeat center center scroll;
      }
    
      header video {
        display: none;
      }
    }




/* FOOTER */


#footer{
  background: #f7f7f7;
    padding: 3rem;
  /* padding-top: 5rem; */
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url('/assets/img/fondonavbar.png');
  background-size: 100% 100%;
}

li{
  list-style: none;
}
.useful-link h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.useful-link img{
  padding-bottom: 15px;
}
.use-links{
  line-height: 32px;
}
.use-links li i{
  font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
  color: #303030;
    font-size: 15px;
    font-weight: 500;
  color: #777777;
}
.use-links li a:hover{
  color: #000;
}
.address h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.address img{
  padding-bottom: 15px;
}
.address-links li a{
  color: #303030;
    font-size: 15px;
    font-weight: 500;
  color: #777777;

}

.address-links li i:nth-child(1){
  padding-top: 9px;
}
.address-links .address1{
  font-weight: 500;
    font-size: 15px;
  display: flex;
}
.address-links{
      line-height: 32px;
    color: #777777;
}

a{
  text-decoration:none;
}

/* footer section end */

